.section-container{
   @apply max-w-screen-2xl container mx-auto xl:px-24 px-4 
}
header{
    z-index: 10001 !important;
}

.subtitle{
    @apply text-button uppercase  font-medium text-lg
}
.title{
    @apply text-4xl md:text-5xl font-bold my-2 md:leading-snug leading-snug 
}
.activee{
    background-color: #ff6289;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

